n8n/workflow-meta-publish-now.json
{
  "name": "Tipote - Meta (FB + IG + Threads) Publish Now",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meta-publish",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "meta-publish"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-secret",
              "leftValue": "={{ $json.headers['x-n8n-secret'] }}",
              "rightValue": "={{ $env.N8N_SHARED_SECRET }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "auth-check",
      "name": "Auth Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-threads",
              "leftValue": "={{ $json.body.platform }}",
              "rightValue": "threads",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-threads",
      "name": "Is Threads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-instagram",
              "leftValue": "={{ $json.body.platform }}",
              "rightValue": "instagram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-instagram",
      "name": "Is Instagram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 180]
    },
    {
      "parameters": {
        "jsCode": "// Publish to Instagram via Graph API.\n// Supports both IMAGE posts and REELS (video).\n// Instagram requires a 3-step async process:\n//   1. Create media container\n//   2. Poll until status = FINISHED\n//   3. Publish the container\n\nconst body = $input.first().json.body || $input.first().json;\nconst accessToken = body.access_token || '';\nconst igUserId = body.platform_user_id || '';\nconst caption = body.commentary || '';\nconst imageUrl = body.image_url || '';\nconst videoUrl = body.video_url || '';\nconst callbackUrl = body.callback_url || '';\nconst contentId = body.content_id || '';\nconst sharedSecret = $env.N8N_SHARED_SECRET || '';\n\nconst GRAPH_BASE = 'https://graph.instagram.com/v21.0';\nlet publishSuccess = false;\nlet postId = '';\nlet publishError = '';\n\ntry {\n  // Step 1: Create media container\n  const isVideo = !!videoUrl;\n  const createBody = isVideo\n    ? { media_type: 'REELS', video_url: videoUrl, caption, access_token: accessToken }\n    : { image_url: imageUrl, caption, access_token: accessToken };\n\n  const createRes = await fetch(`${GRAPH_BASE}/${igUserId}/media`, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify(createBody)\n  });\n\n  const createJson = await createRes.json();\n  if (!createRes.ok || !createJson.id) {\n    throw new Error(`Container creation failed: ${JSON.stringify(createJson)}`);\n  }\n  const creationId = createJson.id;\n\n  // Step 2: Poll for FINISHED status\n  const maxAttempts = isVideo ? 30 : 10;\n  const pollInterval = isVideo ? 5000 : 3000;\n  let ready = false;\n\n  for (let i = 0; i < maxAttempts; i++) {\n    const statusRes = await fetch(\n      `${GRAPH_BASE}/${creationId}?fields=status_code&access_token=${accessToken}`\n    );\n    const statusJson = await statusRes.json();\n    if (statusJson.status_code === 'FINISHED') { ready = true; break; }\n    if (statusJson.status_code === 'ERROR' || statusJson.status_code === 'EXPIRED') {\n      throw new Error(`Container failed: ${statusJson.status_code}`);\n    }\n    await new Promise(r => setTimeout(r, pollInterval));\n  }\n\n  if (!ready) throw new Error('Container not ready after polling');\n\n  // Step 3: Publish\n  const publishRes = await fetch(`${GRAPH_BASE}/${igUserId}/media_publish`, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ creation_id: creationId, access_token: accessToken })\n  });\n\n  const publishJson = await publishRes.json();\n  if (!publishRes.ok || !publishJson.id) {\n    throw new Error(`Publish failed: ${JSON.stringify(publishJson)}`);\n  }\n\n  // Try to get shortcode for URL\n  try {\n    const scRes = await fetch(\n      `${GRAPH_BASE}/${publishJson.id}?fields=shortcode&access_token=${accessToken}`\n    );\n    const scJson = await scRes.json();\n    postId = scJson.shortcode || publishJson.id;\n  } catch {\n    postId = publishJson.id;\n  }\n\n  publishSuccess = true;\n} catch (e) {\n  publishError = e.message || 'instagram_publish_exception';\n}\n\n// Callback\nif (callbackUrl) {\n  try {\n    await fetch(callbackUrl, {\n      method: 'POST',\n      headers: { 'X-N8N-Secret': sharedSecret, 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        content_id: contentId,\n        platform: 'instagram',\n        success: publishSuccess,\n        postId: postId,\n        error: publishError || undefined\n      })\n    });\n  } catch {}\n}\n\nreturn [{ json: { ok: publishSuccess, postId, error: publishError || null } }];"
      },
      "id": "instagram-post",
      "name": "Post to Instagram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 60],
      "notes": "Publishes image or Reel (video) to Instagram via Graph API. Handles 3-step async process: create container → poll → publish."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-video",
              "leftValue": "={{ $json.body.video_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "fb-has-video",
      "name": "FB Has Video?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, -40]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Webhook Trigger').item.json.body.platform_user_id }}/videos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"file_url\": \"{{ $('Webhook Trigger').item.json.body.video_url }}\",\n  \"description\": {{ JSON.stringify($('Webhook Trigger').item.json.body.commentary) }},\n  \"access_token\": \"{{ $('Webhook Trigger').item.json.body.access_token }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "autodetect"
            }
          }
        }
      },
      "id": "fb-post-video",
      "name": "Post to Facebook (Video)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, -100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-image",
              "leftValue": "={{ $('Webhook Trigger').item.json.body.image_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "fb-has-image",
      "name": "FB Has Image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 180]
    },
    {
      "parameters": {
        "jsCode": "// Post photo(s) to Facebook — supports single image and multi-photo carousel\nconst body = $('Webhook Trigger').first().json.body || $('Webhook Trigger').first().json;\nconst pageId = body.platform_user_id;\nconst accessToken = body.access_token;\nconst message = body.commentary || '';\nconst imageUrl = body.image_url || '';\nconst images = body.images || [];\nconst GRAPH = 'https://graph.facebook.com/v21.0';\n\n// Multi-photo carousel: upload each image unpublished, then create feed post with attached_media\nif (images.length > 1) {\n  const photoIds = [];\n  for (const url of images) {\n    const res = await fetch(`${GRAPH}/${pageId}/photos`, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ url, published: false, access_token: accessToken })\n    });\n    const json = await res.json();\n    if (!res.ok || !json.id) {\n      return [{ json: { statusCode: res.status, body: json } }];\n    }\n    photoIds.push(json.id);\n  }\n  const params = new URLSearchParams();\n  params.set('message', message);\n  params.set('access_token', accessToken);\n  photoIds.forEach((id, i) => {\n    params.set(`attached_media[${i}]`, JSON.stringify({ media_fbid: id }));\n  });\n  const feedRes = await fetch(`${GRAPH}/${pageId}/feed`, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n    body: params.toString()\n  });\n  const feedBody = await feedRes.json();\n  return [{ json: { statusCode: feedRes.status, body: feedBody } }];\n}\n\n// Single image post\nconst res = await fetch(`${GRAPH}/${pageId}/photos`, {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({ message, url: imageUrl, access_token: accessToken })\n});\n\nconst resBody = await res.json();\nreturn [{ json: { statusCode: res.status, body: resBody } }];"
      },
      "id": "fb-post-photo",
      "name": "Post to Facebook (Photo)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 120],
      "notes": "Posts photo(s) to Facebook. Supports multi-photo carousel via attached_media."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Webhook Trigger').item.json.body.platform_user_id }}/feed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {{ JSON.stringify($('Webhook Trigger').item.json.body.commentary) }},\n  \"access_token\": \"{{ $('Webhook Trigger').item.json.body.access_token }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "autodetect"
            }
          }
        }
      },
      "id": "fb-post-text",
      "name": "Post to Facebook (Text)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook Trigger').item.json.body.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Secret",
              "value": "={{ $env.N8N_SHARED_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content_id\": \"{{ $('Webhook Trigger').item.json.body.content_id }}\",\n  \"platform\": \"{{ $('Webhook Trigger').item.json.body.platform }}\",\n  \"success\": true,\n  \"postId\": \"{{ $json.body?.id || $json.body?.post_id || '' }}\"\n}",
        "options": {}
      },
      "id": "callback-success-fb",
      "name": "Callback Success (FB)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, postId: $json.postId || $json.body?.postId || '' }) }}",
        "options": {}
      },
      "id": "respond-success-fb",
      "name": "Respond Success (FB)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1790, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: $json.ok, postId: $json.postId || '', error: $json.error || undefined }) }}",
        "options": {}
      },
      "id": "respond-success-ig",
      "name": "Respond Success (IG)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 60]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.threads.net/v1.0/{{ $('Webhook Trigger').item.json.body.platform_user_id }}/threads?media_type={{ $('Webhook Trigger').item.json.body.image_url ? 'IMAGE' : 'TEXT' }}&text={{ encodeURIComponent($('Webhook Trigger').item.json.body.commentary) }}{{ $('Webhook Trigger').item.json.body.image_url ? '&image_url=' + encodeURIComponent($('Webhook Trigger').item.json.body.image_url) : '' }}&access_token={{ $('Webhook Trigger').item.json.body.access_token }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "autodetect"
            }
          }
        }
      },
      "id": "threads-create-container",
      "name": "Threads Create Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.threads.net/v1.0/{{ $('Webhook Trigger').item.json.body.platform_user_id }}/threads_publish?creation_id={{ $json.body.id }}&access_token={{ $('Webhook Trigger').item.json.body.access_token }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "autodetect"
            }
          }
        }
      },
      "id": "threads-publish",
      "name": "Threads Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook Trigger').item.json.body.callback_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Secret",
              "value": "={{ $env.N8N_SHARED_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content_id\": \"{{ $('Webhook Trigger').item.json.body.content_id }}\",\n  \"platform\": \"threads\",\n  \"success\": true,\n  \"postId\": \"{{ $json.body?.id || '' }}\"\n}",
        "options": {}
      },
      "id": "callback-success-threads",
      "name": "Callback Success (Threads)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"postId\": \"{{ $json.body?.id || '' }}\" }",
        "options": {}
      },
      "id": "respond-success-threads",
      "name": "Respond Success (Threads)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1570, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": false, \"error\": \"Unauthorized\" }",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-unauthorized",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Auth Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check": {
      "main": [
        [
          {
            "node": "Is Threads?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Threads?": {
      "main": [
        [
          {
            "node": "Threads Create Container",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Instagram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Instagram?": {
      "main": [
        [
          {
            "node": "Post to Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FB Has Video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Instagram": {
      "main": [
        [
          {
            "node": "Respond Success (IG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Has Video?": {
      "main": [
        [
          {
            "node": "Post to Facebook (Video)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FB Has Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook (Video)": {
      "main": [
        [
          {
            "node": "Callback Success (FB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB Has Image?": {
      "main": [
        [
          {
            "node": "Post to Facebook (Photo)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post to Facebook (Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook (Photo)": {
      "main": [
        [
          {
            "node": "Callback Success (FB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook (Text)": {
      "main": [
        [
          {
            "node": "Callback Success (FB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Success (FB)": {
      "main": [
        [
          {
            "node": "Respond Success (FB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads Create Container": {
      "main": [
        [
          {
            "node": "Threads Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads Publish": {
      "main": [
        [
          {
            "node": "Callback Success (Threads)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Success (Threads)": {
      "main": [
        [
          {
            "node": "Respond Success (Threads)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "tipote",
      "createdAt": "2026-02-13T00:00:00.000Z",
      "updatedAt": "2026-02-24T00:00:00.000Z"
    }
  ],
  "pinData": {},
  "versionId": "3"
}
