n8n/workflow-linkedin-comment-polling.json
{
  "name": "Tipote - LinkedIn Comment Auto-Reply",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.TIPOTE_APP_URL }}/api/automations/linkedin-comments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Secret",
              "value": "={{ $env.N8N_SHARED_SECRET }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "poll-comments",
      "name": "Poll LinkedIn Comments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "notes": "Appelle l'API Tipote qui : 1) Récupère les automatisations LinkedIn actives, 2) Liste les posts récents ou le post ciblé, 3) Vérifie les commentaires avec mot-clé, 4) Répond automatiquement."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-replies",
              "leftValue": "={{ $json.replies }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-replies",
      "name": "Had Replies?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300],
      "notes": "Vérifie si des réponses automatiques ont été envoyées ce cycle."
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconsole.log(`[LinkedIn] Auto-reply cycle: ${data.processed} comments processed, ${data.replies} replies sent, ${data.errors} errors`);\nreturn [$input.first()];"
      },
      "id": "log-results",
      "name": "Log Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 240]
    },
    {
      "parameters": {},
      "id": "no-replies",
      "name": "No New Replies",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [910, 400]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Poll LinkedIn Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll LinkedIn Comments": {
      "main": [
        [
          {
            "node": "Had Replies?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Had Replies?": {
      "main": [
        [
          {
            "node": "Log Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "tipote",
      "createdAt": "2026-02-25T00:00:00.000Z",
      "updatedAt": "2026-02-25T00:00:00.000Z"
    },
    {
      "name": "automations"
    },
    {
      "name": "linkedin"
    }
  ],
  "pinData": {},
  "versionId": "1",
  "meta": {
    "notes": "## Workflow LinkedIn Auto-Reply\n\nCe workflow poll les commentaires LinkedIn toutes les 5 minutes et répond automatiquement aux commentaires contenant un mot-clé.\n\n### Variables d'environnement requises dans n8n\n\n- `TIPOTE_APP_URL` : ex. https://app.tipote.com\n- `N8N_SHARED_SECRET` : même valeur que dans le .env Tipote\n\n### Architecture\n\n```\nCron (toutes les 5 min)\n  → Appel GET /api/automations/linkedin-comments\n  → Tipote récupère les automations LinkedIn actives\n  → Pour chaque user : liste les posts récents (ou le post ciblé)\n  → Pour chaque post : liste les commentaires\n  → Filtre les commentaires contenant le mot-clé\n  → Répond via LinkedIn Comments API (nested reply)\n```\n\n### Spécificités LinkedIn\n\n- **Pas de webhooks** pour les commentaires sur des profils personnels → polling.\n- **Pas de DM** : l'API LinkedIn Messaging n'est pas accessible → réponse publique uniquement.\n- **Scope requis** : `w_member_social` (déjà dans le flow OAuth existant).\n- **Mode** : post spécifique OU tous les posts récents (derniers 10).\n- **Rate limits** : 2 secondes de pause entre chaque réponse."
  }
}
